<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="serverPort" source="server.port"/>

    <property name="LOG_NAME" value="${springAppName}-${serverPort}"/>
    <property name="LOG_DIR" value="../logs/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d) [%X{traceId:-},%X{spanId:-}] %magenta([%thread]) [%-5level] %cyan(%logger{25} %line): %0.-4000msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- Appender to log to file in a JSON format -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/archived-${LOG_NAME}/${LOG_NAME}-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <!-- each file should be maximum at 100MB, keep 60 days worth of history, but at most 60GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>60GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %cyan(%d) [%X{traceId:-},%X{spanId:-}] %magenta([%thread]) [%-5level] %cyan(%logger{25} %line): %0.-4000msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <!--Production Profile-->
    <springProfile name="prod">
        <logger name="org.hibernate.SQL" level="ERROR" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>

        <root level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!--Local,Dev Profile-->
    <springProfile name="!prod">
        <logger name="org.hibernate.SQL" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
